#body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  
  img {
    object-fit: contain !important;
    border-radius:10px;
    max-width: 400px !important;
    max-height: 400px !important;
  }

  p {
    font-size: 1rem;
    margin: 10px;
    text-align: justify;
  }
}
