#layout1ContainerFooter {
    min-height: 100px;
    width: 100vw;
    background-color: rgb(31, 29, 29);
    display: flex;
    align-items: center;
    bottom: 0;
    transition: 0.3s;
  
    
  }
  